@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Bebas Neue, Arial;
}

body {
  background-color: rgb(155, 79, 150);
  width: 100%;
  height: 100%;
  color: rgb(255, 91, 247);
}

header {
  background-color: #9bfcf7;
  padding: 3rem;
  margin: 0.5rem;
  text-align: center;
}

header h1 {
  padding-bottom: 3rem;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 70%;
  padding: 0.6rem;
  font-size: 1rem;
  outline: none;
  background-color: #5b44a6;
  color: #fff;
}

button {
  padding: 0.6rem;
  width: 22%;
  background-color: #5b44a6;
  color: rgb(228, 247, 63);
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: rgb(224, 55, 49);
}

section#tasks {
  margin: 0.5rem;
}

ul {
  list-style: none;
}

ul li {
  position: relative;
  padding: 0.8rem;
  background-color: rgb(0, 56, 168);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

ul li span {
  color: #ccc;
  font-size: italic;
  font-style: 0.8rem;
  padding-left: 1rem;
}

ul li div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

ul li:nth-child(odd) {
  background-color: rgb(214, 2, 112);
}

ul li:hover {
  background-color: #5b44a6;
}

a.btnUpdate {
  padding: 0.5rem;
  text-decoration: none;
  color: #ccc;
  transition: all 0.3s ease-in-out;
}

a.btnUpdate:hover {
  background: #3643f4;
  color: #fff;
}

a.btnDelete {
  padding: 0.5rem;
  text-decoration: none;
  color: #ccc;
  transition: all 0.3s ease-in-out;
}

a.btnDelete:hover {
  background: #ff0000;
  color: #fff;
}

section#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

div#card {
  width: 30rem;
  position: relative;
  background-color: #0ec7b7;
}

div#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

div#card h2 {
  padding: 2rem;
  margin: 0;
}

div#card a#Fechar {
  position: relative;
  right: 0;
  top: 0.7rem;
  color: #fff;
  text-decoration: none;
  padding: 1.5rem;
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
}

div#card a#Fechar:hover {
  background-color: #ff0000;
  border-radius: 5rem;
  padding: 0 0.1rem;
  color: rgb(228, 247, 63);
}

div#card hr {
  width: 90%;
  margin: 0 auto;
}

div#card p {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

div#btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

div#btns a {
  text-decoration: none;
  padding: 0.9rem;
  width: 7rem;
  text-align: center;
  background-color: #202024;
}

div#btns a#btnNot {
  color: #ff0000;
  border: solid 1px #ff0000;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}

div#btns a#btnNot:hover {
  background-color: #ff0000;
  color: #fff;
}

div#btns a#btnYes {
  color: #00aa2a;
  border: solid 1px #00aa2a;
  transition: all 0.3s ease-in-out;
}

div#btns a#btnYes:hover {
  background-color: #00aa2a;
  color: #fff;
}

.message{
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-danger{
  background-color: rgb(255,197,197);
  color: #8a0000;
}

.message-success{
  background-color: rgb(197, 255, 214);
  color: #00aa2a;
}

span#close-message{
  font-size: 2rem;
  cursor: pointer;
  transition: .3s;
  padding-left: 2rem;
}

span#close-message:hover{
  color: rgb(255, 0, 0);
}